body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Askan Regular";
  src: local("Askan Regular"),
    url("./Fonts/Askan_Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Askan Bold";
  src: local("Askan Bold"), url("./Fonts/Askan_Bold.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Askan DemiBold";
  src: local("Askan DemiBold"),
    url("./Fonts/Askan_DemiBold.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Askan Light";
  src: local("Askan Light"), url("./Fonts/Askan_Light.otf") format("truetype");
  font-weight: normal;
}
