@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Candal&family=Liter&family=Manrope:wght@200..800&family=Montez&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sacramento&display=swap");
.yacht-slider .slick-dots {
  bottom: -50px;
}

.yacht-slider .slick-prev,
.yacht-slider .slick-next {
  z-index: 10;
  width: 30px;
  height: 30px;
  top: -30px !important;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.yacht-slider .slick-prev {
  right: 45px !important;
  left: auto;
}

.yacht-slider .slick-next {
  right: 0px !important;
}

.yacht-slider.ar .slick-prev {
  left: 0px !important;
  right: auto;
}

.yacht-slider.ar .slick-next {
  left: 45px !important;
}


/* @media (max-width: 768px) {
  .yacht-slider .slick-prev,
  .yacht-slider .slick-next {
    display: none !important;
  }
} */

.custom-arrow {
  position: absolute;
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
.custom-arrow::before,
.slick-prev:before,
.slick-next:before {
  display: none !important;
}

.about-image {
  position: absolute !important;
}

.image-modal > button {
  display: none !important;
}
